<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add | Category</title>
</head>
<body>
    <form action="/Home/AddCategory" method="post">
        Name
        <select>
            <option value="MrOlympia">mr o</option>
            <option value="ClassicPhysique">c q</option>
            <option value="MensPhysique">mens</option>
            <option value="WomensBikini">wm bikini</option>
        </select>
        Satring W
        <input type="number" name="StartinWeight" />
        Max W
        <input type="number" name="MaximumWeight" />
        <input type="submit" value="Add" />
    </form>
</body>
</html>