<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addcategories.css" />
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <script src="addcategories.js" defer></script>
    <title>Picker | Add</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <nav id="nav">
                <div class="nav-brand">
                    <a href="index.html">
                        <img src="images/olympialogo.png" alt="">
                    </a>
                </div>

                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link current">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="addcategories.html" class="nav-link">Add</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Database</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">History</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="contentContainer">
        <div class="item item1">
            <h3>Category</h3>
            <ul>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Add Name
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Choose starting weight
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    <b>&nbsp Choose max weight</b>
                </li>
            </ul>
            <button href="addcategory.html">Add Category</button>
        </div>

        <div class="item item2">
            <h3>Competitor</h3>
            <ul>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Number
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Name
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Nationality
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Height
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Weight
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Category
                </li>
            </ul>
            <button onclick="window.location.href='/addcompetitor.html'">Choose Plan</button>
        </div>

        <div class="item item3">
            <h3>Sponsor</h3>
            <ul>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Name
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Placeholder
                </li>
                <li>
                    <span>&#10004</span>
                    <i class="bx bx-check"></i>
                    &nbsp Type
                </li>
            </ul>
            <button href="addsponsor.html">Choose Plan</button>
        </div>
    </div>

</body>
</html>