@using Models
@model Category

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="~/AddCategory.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <title>Edit | Category</title>
</head>
<body>
    <form action="/Home/EditCategory" method="post">
        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <p>St w</p><br />
        <input type="number" name="StartingWeight" value="@Model.StartingWeight" />
        <p>M w</p><br />
        <input type="number" name="MaximumWeight" value="@Model.MaximumWeight" />
        <input type="submit" value="Edit" />
    </form>
</body>
</html>