<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>History</title>
    <link rel="stylesheet" href="~/History.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/AddCategory">Add</a></li>
            <li><a href="~/Home/ListCategories">Data</a></li>
            <li><a href="~/Home/History">History</a></li>
        </ul>
    </header>

    <div class="container">
        <div class="section">
            <div class="content">
                <h2>Early History</h2>
                <p>
                    Early history

                    The Farnese Hercules, 216 AD
                    Stone-lifting traditions were practiced in ancient Egypt, Greece, and Tamilakam. Western weightlifting developed in Europe from 1880 to 1953, with strongmen displaying feats of strength for the public and challenging each other. The focus was not on their physique, and they often had large bellies and fatty limbs.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>1950s–1960s</h2>
                <p>
                    Bodybuilding became more popular in the 1950s and 1960s with the emergence of strength and gymnastics champions, and the simultaneous popularization of bodybuilding magazines, training principles, nutrition for bulking up and cutting down, the use of protein and other food supplements, and the opportunity to enter physique contests. The number of bodybuilding organizations grew, and most notably the International Federation of Bodybuilders (IFBB) was founded in 1946 by Canadian brothers Joe and Ben Weider. Other bodybuilding organizations included the Amateur Athletic Union (AAU), National Amateur Bodybuilding Association (NABBA), and the World Bodybuilding Guild (WBBG). Consequently, the contests grew both in number and in size. Besides the many "Mr. XXX" (insert town, city, state, or region) championships, the most prestigious titles[according to whom?] were Mr. America, Mr. World, Mr. Universe, Mr. Galaxy, and ultimately Mr. Olympia, which was started in 1965 by the IFBB and is now considered the most important bodybuilding competition in the world.[1]

                    During the 1950s, the most successful and most famous competing bodybuilders[according to whom?] were Bill Pearl, Reg Park, Leroy Colbert, and Clarence Ross. Certain bodybuilders rose to fame thanks to the relatively new medium of television, as well as cinema. The most notable[according to whom?] were Jack LaLanne, Steve Reeves, Reg Park, and Mickey Hargitay. While there were well-known gyms throughout the country during the 1950s (such as Vince's Gym in North Hollywood, California and Vic Tanny's chain gyms), there were still segments of the United States that had no "hardcore" bodybuilding gyms until the advent of Gold's Gym in the mid-1960s. Finally, the famed Muscle Beach in Santa Monica continued its popularity as the place to be for witnessing acrobatic acts, feats of strength, and the like. The movement grew more in the 1960s with increased TV and movie exposure, as bodybuilders were typecast in popular shows and movies.[4]
                </p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>1970s–1990s</h2>
                <p>
                    New organizations

                    Ed Fury posing with model Jackie Coey in 1953
                    In the 1970s, bodybuilding had major publicity thanks to the appearance of Arnold Schwarzenegger, Franco Columbu, Lou Ferrigno, and others in the 1977 docudrama Pumping Iron. By this time, the IFBB dominated the competitive bodybuilding landscape and the Amateur Athletic Union (AAU) took a back seat. The National Physique Committee (NPC) was formed in 1981 by Jim Manion,[10] who had just stepped down as chairman of the AAU Physique Committee. The NPC has gone on to become the most successful bodybuilding organization in America and is the amateur division of the IFBB. The late 1980s and early 1990s saw the decline of AAU-sponsored bodybuilding contests. In 1999, the AAU voted to discontinue its bodybuilding events.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>World Bodybuilding Federation</h2>
                <p>In 1990, professional wrestling promoter Vince McMahon announced that he was forming a new bodybuilding organization named the World Bodybuilding Federation (WBF). McMahon wanted to bring WWF-style showmanship and bigger prize money to the sport of bodybuilding. A number of IFBB stars were recruited but the roster was never very large and featured the same athletes competing; the most notable winner and first WBF champion was Gary Strydom. McMahon formally dissolved the WBF in July 1992. Reasons for this reportedly included lack of income from the pay-per-view broadcasts of the contests, slow sales of the WBF's magazine Bodybuilding Lifestyles (later WBF Magazine), and the expense of paying multiple six-figure contracts while producing two TV shows and a monthly magazine.</p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>2000s</h2>
                <p>
                    In 2003, Joe Weider sold Weider Publications to AMI, which owns the National Enquirer. The position of president of the IFBB was filled by Rafael Santonja following the death of Ben Weider in October 2008. In 2004, contest promoter Wayne DeMilia broke ranks with the IFBB and AMI took over the promotion of the Mr. Olympia contest: in 2017 AMI took the contest outright.[14]

                    In the early 21st century, patterns of consumption and recreation similar to those of the United States became more widespread in Europe and especially in Eastern Europe following the collapse of the Soviet Union. This resulted in the emergence of whole new populations of bodybuilders from former Eastern Bloc states.
                </p>
            </div>
        </div>
    </div>
</body>
</html>